/* For standard element and class formatting see styles.css */
/* ID's */
#toolbar {
	margin-top: 5px;
	height: 72px; 
}

#playerPanel {
	position:absolute;
	top: 5px;
	left: 5px;
	width: 300px;
	height: 300px;
}

#players {
	margin: 5px auto;
	width: 290px;
	height: 265px;
	background-color: #333333;
}

#mapPanel {
	position: absolute;
	top: 350px;
	left: 5px;
	width: 300px;
	height: 334px;
	visibility:hidden;
}

#maps {
	margin: 5px auto;
	width: 290px;
	height: 299px;
	background-color: #333333;
}

#messagePanel {
	height: 600px;
	margin-top: 5px;
}

#messages {
	margin: 5px auto;
	height: 590px;
	width: 790px;
	background-color: #333333;
}

#chatimage {
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 0px;
}

#startButton {
	background-color: #3F794E;
	visibility: hidden;
}

#sendButton{
	background-color: #569CD6;
}

#cancelButton {
	background-color: #D67442;
	float:right;
}
